name: Push

on:
  push:
    branches:
      - '**'
    tags:
      - v*
  pull_request:

jobs:
  # This pushes the image to GitHub Packages.
  push:
    strategy:
      matrix:
        include:
          - image: javascript
            toolchain: stable
          - image: starlark
            toolchain: stable
          - image: handlebars
            toolchain: stable
          - image: liquid
            toolchain: stable
          - image: mustache
            toolchain: stable
          - image: tera
            toolchain: stable
          - image: tinytemplate
            toolchain: stable
          - image: python
            toolchain: nightly
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: ${{ matrix.toolchain }}
            target: wasm32-wasip2

      - name: Install `wash` CLI
        uses: taiki-e/install-action@97a83ae1347bc407f550a16fb0694d6f446eec88 # v2.50.9
        with:
          tool: wash

      - name: Build image
        run: wash build --config-path components/${{ matrix.image }}

      - name: Copy component for testing
        run: cp components/${{ matrix.image }}/build/${{ matrix.image }}_component_s.wasm test/components

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "27.3.3"
          elixir-version: "1.18.3"
      - run: mix deps.get
      - run: mix test      

      - name: Push image
        if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/main'
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}

          # This changes all uppercase characters to lowercase.
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          # This strips the git ref prefix from the version.
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # This strips the "v" prefix from the tag name.
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          # This uses the Docker `latest` tag convention.
          [ "$VERSION" == "main" ] && VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          wash push --user ${{ github.actor }} --password "${{ secrets.GITHUB_TOKEN }}" --allow-latest $IMAGE_ID:$VERSION components/${{ matrix.image }}/build/${{ matrix.image }}_component_s.wasm
